
*.ipynb
*.csv
*.pdf
*.txt
*.json
*.pkl
*.npy
*.jpg
*.mat
*.ipynb
*.ipynb
*.7z
*.ipynb
.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
.ipynb_checkpoints/Day_014_HW-checkpoint.ipynb
